{
    "swagger": "2.0",
    "info": {
        "version": "1.6.0",
        "title": "directory"
    },
    "host": "api.openage.in/directory/v1",
    "basePath": "/api",
    "schemes": [],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/batches": {
            "get": {
                "permissions": [
                    "organization.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/batchesPageRes"
                        }
                    }
                },
                "summary": "search",
                "description": "searches in batches",
                "operationId": "batches-search",
                "tags": [
                    "batches"
                ]
            },
            "post": {
                "permissions": [
                    "organization.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/batchesReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/batchesRes"
                        }
                    }
                },
                "summary": "create",
                "description": "creates new item in batches",
                "operationId": "batches-create",
                "tags": [
                    "batches"
                ]
            }
        },
        "/batches/bulk": {
            "post": {
                "id": "create-bulk",
                "summary": "bulk create",
                "permissions": [
                    "organization.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/batchesReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/batchesRes"
                        }
                    }
                },
                "description": "",
                "operationId": "create-bulk",
                "tags": [
                    "batches"
                ]
            }
        },
        "/batches/{id}": {
            "get": {
                "permissions": [
                    "organization.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/batchesRes"
                        }
                    }
                },
                "summary": "get",
                "description": "gets an item by id in batches",
                "operationId": "batches-get-by-id",
                "tags": [
                    "batches"
                ]
            },
            "put": {
                "permissions": [
                    "organization.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/batchesReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/batchesRes"
                        }
                    }
                },
                "summary": "update",
                "description": "updates an item in batches",
                "operationId": "batches-update",
                "tags": [
                    "batches"
                ]
            },
            "delete": {
                "permissions": [
                    "organization.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/batchesRes"
                        }
                    }
                },
                "summary": "remove",
                "description": "removes an item in batches",
                "operationId": "delete",
                "tags": [
                    "batches"
                ]
            }
        },
        "/contractors": {
            "get": {
                "permissions": [
                    "organization.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/contractorsPageRes"
                        }
                    }
                },
                "summary": "search",
                "description": "searches in contractors",
                "operationId": "contractors-search",
                "tags": [
                    "contractors"
                ]
            },
            "post": {
                "permissions": [
                    "organization.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/contractorsReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/contractorsRes"
                        }
                    }
                },
                "summary": "create",
                "description": "creates new item in contractors",
                "operationId": "contractors-create",
                "tags": [
                    "contractors"
                ]
            }
        },
        "/contractors/bulk": {
            "post": {
                "id": "create-bulk",
                "summary": "bulk create",
                "permissions": [
                    "organization.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/contractorsReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/contractorsRes"
                        }
                    }
                },
                "description": "",
                "operationId": "create-bulk",
                "tags": [
                    "contractors"
                ]
            }
        },
        "/contractors/{id}": {
            "get": {
                "permissions": [
                    "organization.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/contractorsRes"
                        }
                    }
                },
                "summary": "get",
                "description": "gets an item by id in contractors",
                "operationId": "contractors-get-by-id",
                "tags": [
                    "contractors"
                ]
            },
            "put": {
                "permissions": [
                    "organization.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/contractorsReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/contractorsRes"
                        }
                    }
                },
                "summary": "update",
                "description": "updates an item in contractors",
                "operationId": "contractors-update",
                "tags": [
                    "contractors"
                ]
            },
            "delete": {
                "permissions": [
                    "organization.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/contractorsRes"
                        }
                    }
                },
                "summary": "remove",
                "description": "removes an item in contractors",
                "operationId": "delete",
                "tags": [
                    "contractors"
                ]
            }
        },
        "/courses": {
            "get": {
                "permissions": [
                    "organization.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/coursesPageRes"
                        }
                    }
                },
                "summary": "search",
                "description": "searches in courses",
                "operationId": "courses-search",
                "tags": [
                    "courses"
                ]
            },
            "post": {
                "permissions": [
                    "organization.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/coursesReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/coursesRes"
                        }
                    }
                },
                "summary": "create",
                "description": "creates new item in courses",
                "operationId": "courses-create",
                "tags": [
                    "courses"
                ]
            }
        },
        "/courses/bulk": {
            "post": {
                "id": "create-bulk",
                "summary": "bulk create",
                "permissions": [
                    "organization.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/coursesReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/coursesRes"
                        }
                    }
                },
                "description": "",
                "operationId": "create-bulk",
                "tags": [
                    "courses"
                ]
            }
        },
        "/courses/{id}": {
            "get": {
                "permissions": [
                    "organization.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/coursesRes"
                        }
                    }
                },
                "summary": "get",
                "description": "gets an item by id in courses",
                "operationId": "courses-get-by-id",
                "tags": [
                    "courses"
                ]
            },
            "put": {
                "permissions": [
                    "organization.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/coursesReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/coursesRes"
                        }
                    }
                },
                "summary": "update",
                "description": "updates an item in courses",
                "operationId": "courses-update",
                "tags": [
                    "courses"
                ]
            },
            "delete": {
                "permissions": [
                    "organization.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/coursesRes"
                        }
                    }
                },
                "summary": "remove",
                "description": "removes an item in courses",
                "operationId": "delete",
                "tags": [
                    "courses"
                ]
            }
        },
        "/departments": {
            "get": {
                "permissions": [
                    "organization.user",
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/departmentsPageRes"
                        }
                    }
                },
                "summary": "search",
                "description": "searches in departments",
                "operationId": "departments-search",
                "tags": [
                    "departments"
                ]
            },
            "post": {
                "permissions": [
                    "organization.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/departmentsReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/departmentsRes"
                        }
                    }
                },
                "summary": "create",
                "description": "creates new item in departments",
                "operationId": "departments-create",
                "tags": [
                    "departments"
                ]
            }
        },
        "/departments/bulk": {
            "post": {
                "id": "create-bulk",
                "summary": "bulk create",
                "permissions": [
                    "organization.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/departmentsReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/departmentsRes"
                        }
                    }
                },
                "description": "",
                "operationId": "create-bulk",
                "tags": [
                    "departments"
                ]
            }
        },
        "/departments/{id}": {
            "get": {
                "permissions": [
                    "organization.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/departmentsRes"
                        }
                    }
                },
                "summary": "get",
                "description": "gets an item by id in departments",
                "operationId": "departments-get-by-id",
                "tags": [
                    "departments"
                ]
            },
            "put": {
                "permissions": [
                    "organization.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/departmentsReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/departmentsRes"
                        }
                    }
                },
                "summary": "update",
                "description": "updates an item in departments",
                "operationId": "departments-update",
                "tags": [
                    "departments"
                ]
            },
            "delete": {
                "permissions": [
                    "organization.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/departmentsRes"
                        }
                    }
                },
                "summary": "remove",
                "description": "removes an item in departments",
                "operationId": "delete",
                "tags": [
                    "departments"
                ]
            }
        },
        "/dependents": {
            "post": {
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dependentsCreateReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/dependentsRes"
                        }
                    }
                },
                "summary": "create",
                "description": "creates new item in dependents",
                "operationId": "dependents-create",
                "tags": [
                    "dependents"
                ]
            }
        },
        "/dependents/bulk": {
            "post": {
                "id": "create-bulk",
                "summary": "bulk create",
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dependentsCreateReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/dependentsRes"
                        }
                    }
                },
                "description": "",
                "operationId": "create-bulk",
                "tags": [
                    "dependents"
                ]
            }
        },
        "/designations": {
            "get": {
                "permissions": [
                    "organization.user",
                    "customer.view",
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/designationsPageRes"
                        }
                    }
                },
                "summary": "search",
                "description": "searches in designations",
                "operationId": "designations-search",
                "tags": [
                    "designations"
                ]
            },
            "post": {
                "permissions": [
                    "organization.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/designationsReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/designationsRes"
                        }
                    }
                },
                "summary": "create",
                "description": "creates new item in designations",
                "operationId": "designations-create",
                "tags": [
                    "designations"
                ]
            }
        },
        "/designations/bulk": {
            "post": {
                "id": "create-bulk",
                "summary": "bulk create",
                "permissions": [
                    "organization.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/designationsReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/designationsRes"
                        }
                    }
                },
                "description": "",
                "operationId": "create-bulk",
                "tags": [
                    "designations"
                ]
            }
        },
        "/designations/{id}": {
            "get": {
                "permissions": [
                    "organization.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/designationsRes"
                        }
                    }
                },
                "summary": "get",
                "description": "gets an item by id in designations",
                "operationId": "designations-get-by-id",
                "tags": [
                    "designations"
                ]
            },
            "put": {
                "permissions": [
                    "organization.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/designationsReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/designationsRes"
                        }
                    }
                },
                "summary": "update",
                "description": "updates an item in designations",
                "operationId": "designations-update",
                "tags": [
                    "designations"
                ]
            },
            "delete": {
                "permissions": [
                    "organization.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/designationsRes"
                        }
                    }
                },
                "summary": "remove",
                "description": "removes an item in designations",
                "operationId": "delete",
                "tags": [
                    "designations"
                ]
            }
        },
        "/divisions": {
            "get": {
                "permissions": [
                    "organization.user",
                    "organization.admin",
                    "tenant.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/divisionsPageRes"
                        }
                    }
                },
                "summary": "search",
                "description": "searches in divisions",
                "operationId": "divisions-search",
                "tags": [
                    "divisions"
                ]
            },
            "post": {
                "permissions": [
                    "organization.admin",
                    "tenant.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/divisionsReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/divisionsRes"
                        }
                    }
                },
                "summary": "create",
                "description": "creates new item in divisions",
                "operationId": "divisions-create",
                "tags": [
                    "divisions"
                ]
            }
        },
        "/divisions/bulk": {
            "post": {
                "id": "create-bulk",
                "summary": "bulk create",
                "permissions": [
                    "organization.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/divisionsReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/divisionsRes"
                        }
                    }
                },
                "description": "",
                "operationId": "create-bulk",
                "tags": [
                    "divisions"
                ]
            }
        },
        "/divisions/{id}": {
            "get": {
                "permissions": [
                    "organization.user",
                    "organization.admin",
                    "tenant.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/divisionsRes"
                        }
                    }
                },
                "summary": "get",
                "description": "gets an item by id in divisions",
                "operationId": "divisions-get-by-id",
                "tags": [
                    "divisions"
                ]
            },
            "put": {
                "permissions": [
                    "organization.admin",
                    "tenant.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/divisionsReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/divisionsRes"
                        }
                    }
                },
                "summary": "update",
                "description": "updates an item in divisions",
                "operationId": "divisions-update",
                "tags": [
                    "divisions"
                ]
            },
            "delete": {
                "permissions": [
                    "organization.admin",
                    "tenant.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/divisionsRes"
                        }
                    }
                },
                "summary": "remove",
                "description": "removes an item in divisions",
                "operationId": "delete",
                "tags": [
                    "divisions"
                ]
            }
        },
        "/employees": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/employeesPageRes"
                        }
                    }
                },
                "summary": "search",
                "description": "searches in employees",
                "operationId": "employees-search",
                "tags": [
                    "employees"
                ]
            },
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/employeesReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/employeesRes"
                        }
                    }
                },
                "summary": "create",
                "description": "creates new item in employees",
                "operationId": "employees-create",
                "tags": [
                    "employees"
                ]
            }
        },
        "/employees/exists": {
            "get": {
                "method": "exists",
                "id": "check-exists",
                "summary": "exists",
                "permissions": [
                    "organization.guest",
                    "organization.user",
                    "tenant.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "x-organization-code",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "organization code"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/employeesRes"
                        }
                    }
                },
                "description": "gets an item in employees",
                "operationId": "check-exists",
                "tags": [
                    "employees"
                ]
            }
        },
        "/employees/bulk": {
            "post": {
                "id": "create-bulk",
                "summary": "bulk create",
                "permissions": [
                    "organization.admin",
                    "tenant.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/employeesReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/employeesRes"
                        }
                    }
                },
                "description": "",
                "operationId": "create-bulk",
                "tags": [
                    "employees"
                ]
            }
        },
        "/employees/{id}": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/employeesRes"
                        }
                    }
                },
                "summary": "get",
                "description": "gets an item by id in employees",
                "operationId": "employees-get-by-id",
                "tags": [
                    "employees"
                ]
            },
            "put": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/employeesReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/employeesRes"
                        }
                    }
                },
                "summary": "update",
                "description": "updates an item in employees",
                "operationId": "employees-update",
                "tags": [
                    "employees"
                ]
            },
            "delete": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/employeesRes"
                        }
                    }
                },
                "summary": "remove",
                "description": "removes an item in employees",
                "operationId": "delete",
                "tags": [
                    "employees"
                ]
            }
        },
        "/organizations": {
            "get": {
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/organizationsPageRes"
                        }
                    }
                },
                "summary": "search",
                "description": "searches in organizations",
                "operationId": "organizations-search",
                "tags": [
                    "organizations"
                ]
            },
            "post": {
                "permissions": [
                    "tenant.guest",
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/organizationsReq"
                        }
                    },
                    {
                        "name": "x-tenant-code",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "application code"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/organizationsRes"
                        }
                    }
                },
                "summary": "create",
                "description": "creates new item in organizations",
                "operationId": "organizations-create",
                "tags": [
                    "organizations"
                ]
            }
        },
        "/organizations/bulk": {
            "post": {
                "id": "create-bulk",
                "summary": "bulk create",
                "permissions": [
                    "tenant.admin",
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/organizationsReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/organizationsRes"
                        }
                    }
                },
                "description": "",
                "operationId": "create-bulk",
                "tags": [
                    "organizations"
                ]
            }
        },
        "/organizations/{code}/summary": {
            "get": {
                "method": "get",
                "id": "get-by-code",
                "summary": "summary by code",
                "permissions": [
                    "tenant.guest",
                    "organization.admin",
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-tenant-code",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "application code"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/organizationsRes"
                        }
                    }
                },
                "description": "gets an item in organizations",
                "operationId": "get-by-code",
                "tags": [
                    "organizations"
                ]
            }
        },
        "/organizations/sync": {
            "get": {
                "summary": "to sync organizaion with other ms",
                "method": "sync",
                "permissions": [
                    "tenant.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/organizationsRes"
                        }
                    }
                },
                "description": "gets an item in organizations",
                "operationId": "organizations-get",
                "tags": [
                    "organizations"
                ]
            }
        },
        "/organizations/isAvailable": {
            "post": {
                "method": "codeAvailable",
                "id": "exists",
                "summary": "exists",
                "permissions": [
                    "tenant.user",
                    "organization.admin",
                    "tenant.guest"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/organizationsReq"
                        }
                    },
                    {
                        "name": "x-tenant-code",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "application code"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/organizationsRes"
                        }
                    }
                },
                "description": "",
                "operationId": "exists",
                "tags": [
                    "organizations"
                ]
            }
        },
        "/organizations/{id}": {
            "get": {
                "permissions": [
                    "organization.user",
                    "tenant.organization.get",
                    "organization.admin",
                    "tenant.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/organizationsRes"
                        }
                    }
                },
                "summary": "get",
                "description": "gets an item by id in organizations",
                "operationId": "organizations-get-by-id",
                "tags": [
                    "organizations"
                ]
            },
            "put": {
                "permissions": [
                    "tenant.organization.update",
                    "organization.admin",
                    "tenant.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/organizationsReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/organizationsRes"
                        }
                    }
                },
                "summary": "update",
                "description": "updates an item in organizations",
                "operationId": "organizations-update",
                "tags": [
                    "organizations"
                ]
            },
            "delete": {
                "permissions": [
                    "tenant.organization.remove",
                    "organization.admin",
                    "tenant.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/organizationsRes"
                        }
                    }
                },
                "summary": "remove",
                "description": "removes an item in organizations",
                "operationId": "delete",
                "tags": [
                    "organizations"
                ]
            }
        },
        "/permissionGroups": {
            "get": {
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/permissionGroupsPageRes"
                        }
                    }
                },
                "summary": "search",
                "description": "searches in permissionGroups",
                "operationId": "permissionGroups-search",
                "tags": [
                    "permissionGroups"
                ]
            },
            "post": {
                "permissions": [
                    "tenant.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/permissionGroupsReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/permissionGroupsRes"
                        }
                    }
                },
                "summary": "create",
                "description": "creates new item in permissionGroups",
                "operationId": "permissionGroups-create",
                "tags": [
                    "permissionGroups"
                ]
            }
        },
        "/permissionGroups/bulk": {
            "post": {
                "id": "create-bulk",
                "summary": "bulk create",
                "permissions": [
                    "tenant.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/permissionGroupsReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/permissionGroupsRes"
                        }
                    }
                },
                "description": "",
                "operationId": "create-bulk",
                "tags": [
                    "permissionGroups"
                ]
            }
        },
        "/permissionGroups/{id}": {
            "get": {
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/permissionGroupsRes"
                        }
                    }
                },
                "summary": "get",
                "description": "gets an item by id in permissionGroups",
                "operationId": "permissionGroups-get-by-id",
                "tags": [
                    "permissionGroups"
                ]
            },
            "put": {
                "permissions": [
                    "tenant.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/permissionGroupsReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/permissionGroupsRes"
                        }
                    }
                },
                "summary": "update",
                "description": "updates an item in permissionGroups",
                "operationId": "permissionGroups-update",
                "tags": [
                    "permissionGroups"
                ]
            },
            "delete": {
                "permissions": [
                    "tenant.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/permissionGroupsRes"
                        }
                    }
                },
                "summary": "remove",
                "description": "removes an item in permissionGroups",
                "operationId": "delete",
                "tags": [
                    "permissionGroups"
                ]
            }
        },
        "/roleTypes": {
            "get": {
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/roleTypesPageRes"
                        }
                    }
                },
                "summary": "search",
                "description": "searches in roleTypes",
                "operationId": "roleTypes-search",
                "tags": [
                    "roleTypes"
                ]
            },
            "post": {
                "permissions": [
                    "tenant.admin",
                    "organization.superadmin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/roleTypesReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/roleTypesRes"
                        }
                    }
                },
                "summary": "create",
                "description": "creates new item in roleTypes",
                "operationId": "roleTypes-create",
                "tags": [
                    "roleTypes"
                ]
            }
        },
        "/roleTypes/bulk": {
            "post": {
                "id": "create-bulk",
                "summary": "bulk create",
                "permissions": [
                    "tenant.admin",
                    "organization.superadmin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/roleTypesReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/roleTypesRes"
                        }
                    }
                },
                "description": "",
                "operationId": "create-bulk",
                "tags": [
                    "roleTypes"
                ]
            }
        },
        "/roleTypes/{id}": {
            "get": {
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/roleTypesRes"
                        }
                    }
                },
                "summary": "get",
                "description": "gets an item by id in roleTypes",
                "operationId": "roleTypes-get-by-id",
                "tags": [
                    "roleTypes"
                ]
            },
            "put": {
                "permissions": [
                    "tenant.admin",
                    "organization.superadmin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/roleTypesReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/roleTypesRes"
                        }
                    }
                },
                "summary": "update",
                "description": "updates an item in roleTypes",
                "operationId": "roleTypes-update",
                "tags": [
                    "roleTypes"
                ]
            },
            "delete": {
                "permissions": [
                    "tenant.admin",
                    "organization.superadmin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/roleTypesRes"
                        }
                    }
                },
                "summary": "remove",
                "description": "removes an item in roleTypes",
                "operationId": "delete",
                "tags": [
                    "roleTypes"
                ]
            }
        },
        "/roles": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/rolesPageRes"
                        }
                    }
                },
                "summary": "search",
                "description": "searches in roles",
                "operationId": "roles-search",
                "tags": [
                    "roles"
                ]
            },
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/rolesCreateReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/rolesRes"
                        }
                    }
                },
                "summary": "create",
                "description": "creates new item in roles",
                "operationId": "roles-create",
                "tags": [
                    "roles"
                ]
            }
        },
        "/roles/bulk": {
            "post": {
                "id": "create-bulk",
                "summary": "bulk create",
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/rolesCreateReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/rolesRes"
                        }
                    }
                },
                "description": "",
                "operationId": "create-bulk",
                "tags": [
                    "roles"
                ]
            }
        },
        "/roles/{id}/reset": {
            "post": {
                "method": "reset",
                "id": "reset-by-id",
                "summary": "reset the role - will log out user",
                "permissions": [
                    "tenant.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/rolesCreateReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/rolesRes"
                        }
                    }
                },
                "description": "",
                "operationId": "reset-by-id",
                "tags": [
                    "roles"
                ]
            }
        },
        "/roles/{id}/dependent": {
            "post": {
                "method": "createDependent",
                "id": "dependent-create",
                "summary": "create dependent",
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/rolesCreateReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/rolesRes"
                        }
                    }
                },
                "description": "",
                "operationId": "dependent-create",
                "tags": [
                    "roles"
                ]
            }
        },
        "/roles/{id}/dependent/bulk": {
            "post": {
                "method": "createDependentsInBulk",
                "id": "dependent-create-bulk",
                "summary": "create dependents",
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
[...]
