{
    "swagger": "2.0",
    "info": {
        "version": "1.5.2",
        "title": "drive-api"
    },
    "host": "api.openage.in/drive/v1",
    "basePath": "/api",
    "schemes": [],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/fileTemplates": {
            "get": {
                "permissions": [
                    "tenant.user"
                ],
                "query": [
                    {
                        "name": "folder-code"
                    },
                    {
                        "name": "status"
                    },
                    {
                        "name": "code"
                    },
                    {
                        "name": "name"
                    },
                    {
                        "name": "isPublic",
                        "type": "boolean"
                    },
                    {
                        "name": "isFavourite",
                        "type": "boolean"
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "folder-code",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "status",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "code",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "name",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "isPublic",
                        "type": "boolean",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "isFavourite",
                        "type": "boolean",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/fileTemplatesPageRes"
                        }
                    }
                },
                "summary": "search",
                "description": "searches in fileTemplates",
                "operationId": "fileTemplates-search",
                "tags": [
                    "fileTemplates"
                ]
            },
            "post": {
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/fileTemplatesReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/fileTemplatesRes"
                        }
                    }
                },
                "summary": "",
                "description": "",
                "operationId": "",
                "tags": [
                    "fileTemplates"
                ]
            }
        },
        "/fileTemplates/bulk": {
            "post": {
                "id": "create-bulk",
                "summary": "bulk create",
                "permissions": [
                    "tenant.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/fileTemplatesReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/fileTemplatesRes"
                        }
                    }
                },
                "description": "",
                "operationId": "create-bulk",
                "tags": [
                    "fileTemplates"
                ]
            }
        },
        "/fileTemplates/{id}": {
            "get": {
                "permissions": [
                    "tenant.guest",
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-tenant-code",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "application code"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/fileTemplatesRes"
                        }
                    }
                },
                "summary": "get",
                "description": "gets an item by id in fileTemplates",
                "operationId": "fileTemplates-get-by-id",
                "tags": [
                    "fileTemplates"
                ]
            },
            "put": {
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/fileTemplatesReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/fileTemplatesRes"
                        }
                    }
                },
                "summary": "update",
                "description": "updates an item in fileTemplates",
                "operationId": "fileTemplates-update",
                "tags": [
                    "fileTemplates"
                ]
            },
            "delete": {
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/fileTemplatesRes"
                        }
                    }
                },
                "summary": "remove",
                "description": "removes an item in fileTemplates",
                "operationId": "delete",
                "tags": [
                    "fileTemplates"
                ]
            }
        },
        "/files": {
            "get": {
                "permissions": [
                    "tenant.guest",
                    "tenant.user"
                ],
                "query": [
                    {
                        "name": "entity-type"
                    },
                    {
                        "name": "entity-id"
                    },
                    {
                        "name": "folder-code"
                    },
                    {
                        "name": "folder-id"
                    },
                    {
                        "name": "owner-email"
                    },
                    {
                        "name": "owner-role-id"
                    },
                    {
                        "name": "owner-role-code"
                    },
                    {
                        "name": "code"
                    },
                    {
                        "name": "name"
                    },
                    {
                        "name": "isPublic",
                        "type": "boolean"
                    },
                    {
                        "name": "isTemplate",
                        "type": "boolean"
                    },
                    {
                        "name": "isVirtual",
                        "type": "boolean"
                    },
                    {
                        "name": "isFavourite",
                        "type": "boolean"
                    },
                    {
                        "name": "sort",
                        "description": "name,timeStamp"
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "entity-type",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "entity-id",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "folder-code",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "folder-id",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "owner-email",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "owner-role-id",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "owner-role-code",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "code",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "name",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "isPublic",
                        "type": "boolean",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "isTemplate",
                        "type": "boolean",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "isVirtual",
                        "type": "boolean",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "isFavourite",
                        "type": "boolean",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sort",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "x-tenant-code",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "application code"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/filesPageRes"
                        }
                    }
                },
                "summary": "search",
                "description": "searches in files",
                "operationId": "files-search",
                "tags": [
                    "files"
                ]
            },
            "post": {
                "summary": "upload a file to a folder",
                "description": "upload file to root folder of the entity",
                "operationId": "upload-file",
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "query": [
                    {
                        "name": "entity-type"
                    },
                    {
                        "name": "entity-id"
                    },
                    {
                        "name": "folder-code"
                    },
                    {
                        "name": "folder-id"
                    },
                    {
                        "name": "owner-email"
                    },
                    {
                        "name": "owner-role-id"
                    },
                    {
                        "name": "owner-role-code"
                    },
                    {
                        "name": "code"
                    },
                    {
                        "name": "name"
                    },
                    {
                        "name": "isPublic",
                        "type": "boolean"
                    },
                    {
                        "name": "isTemplate",
                        "type": "boolean"
                    },
                    {
                        "name": "isVirtual",
                        "type": "boolean"
                    },
                    {
                        "name": "isFavourite",
                        "type": "boolean"
                    }
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "file",
                        "type": "file",
                        "required": true
                    },
                    {
                        "name": "entity-type",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "entity-id",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "folder-code",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "folder-id",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "owner-email",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "owner-role-id",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "owner-role-code",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "code",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "name",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "isPublic",
                        "type": "boolean",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "isTemplate",
                        "type": "boolean",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "isVirtual",
                        "type": "boolean",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "isFavourite",
                        "type": "boolean",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/filesReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/filesRes"
                        }
                    }
                },
                "tags": [
                    "files"
                ]
            }
        },
        "/files/{id}": {
            "get": {
                "permissions": [
                    "tenant.guest",
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-tenant-code",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "application code"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/filesRes"
                        }
                    }
                },
                "summary": "get",
                "description": "gets an item by id in files",
                "operationId": "files-get-by-id",
                "tags": [
                    "files"
                ]
            },
            "put": {
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/filesReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/filesRes"
                        }
                    }
                },
                "summary": "update",
                "description": "updates an item in files",
                "operationId": "files-update",
                "tags": [
                    "files"
                ]
            },
            "delete": {
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/filesRes"
                        }
                    }
                },
                "summary": "remove",
                "description": "removes an item in files",
                "operationId": "delete",
                "tags": [
                    "files"
                ]
            }
        },
        "/files/{id}/streams": {
            "get": {
                "summary": "streams file",
                "description": "read stream file",
                "method": "streams",
                "permissions": [
                    "tenant.guest",
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-tenant-code",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "application code"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/filesRes"
                        }
                    }
                },
                "operationId": "files-get",
                "tags": [
                    "files"
                ]
            }
        },
        "/files/{provider}/success": {
            "post": {
                "summary": "success hook for signing provider",
                "description": "success hook for signing provider",
                "method": "providerCallback",
                "permissions": [
                    "guest",
                    "tenant.guest",
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "provider",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/filesReq"
                        }
                    },
                    {
                        "name": "x-tenant-code",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "application code"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/filesRes"
                        }
                    }
                },
                "operationId": "",
                "tags": [
                    "files"
                ]
            }
        },
        "/files/{provider}/error": {
            "post": {
                "summary": "failure hook for signing provider",
                "description": "failure hook for signing provider",
                "method": "providerCallback",
                "permissions": [
                    "guest",
                    "tenant.guest",
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "provider",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/filesReq"
                        }
                    },
                    {
                        "name": "x-tenant-code",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "application code"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/filesRes"
                        }
                    }
                },
                "operationId": "",
                "tags": [
                    "files"
                ]
            }
        },
        "/folderTemplates": {
            "get": {
                "permissions": [
                    "tenant.user"
                ],
                "query": [
                    {
                        "name": "folder-code"
                    },
                    {
                        "name": "status"
                    },
                    {
                        "name": "code"
                    },
                    {
                        "name": "name"
                    },
                    {
                        "name": "isPublic",
                        "type": "boolean"
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "folder-code",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "status",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "code",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "name",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "isPublic",
                        "type": "boolean",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/folderTemplatesPageRes"
                        }
                    }
                },
                "summary": "search",
                "description": "searches in folderTemplates",
                "operationId": "folderTemplates-search",
                "tags": [
                    "folderTemplates"
                ]
            },
            "post": {
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/folderTemplatesReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/folderTemplatesRes"
                        }
                    }
                },
                "summary": "",
                "description": "",
                "operationId": "",
                "tags": [
                    "folderTemplates"
                ]
            }
        },
        "/folderTemplates/bulk": {
            "post": {
                "id": "create-bulk",
                "summary": "bulk create",
                "permissions": [
                    "tenant.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/folderTemplatesReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/folderTemplatesRes"
                        }
                    }
                },
                "description": "",
                "operationId": "create-bulk",
                "tags": [
                    "folderTemplates"
                ]
            }
        },
        "/folderTemplates/{id}": {
            "get": {
                "permissions": [
                    "tenant.guest",
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-tenant-code",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "application code"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/folderTemplatesRes"
                        }
                    }
                },
                "summary": "get",
                "description": "gets an item by id in folderTemplates",
                "operationId": "folderTemplates-get-by-id",
                "tags": [
                    "folderTemplates"
                ]
            },
            "put": {
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/folderTemplatesReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/folderTemplatesRes"
                        }
                    }
                },
                "summary": "update",
                "description": "updates an item in folderTemplates",
                "operationId": "folderTemplates-update",
                "tags": [
                    "folderTemplates"
                ]
            },
            "delete": {
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/folderTemplatesRes"
                        }
                    }
                },
                "summary": "remove",
                "description": "removes an item in folderTemplates",
                "operationId": "delete",
                "tags": [
                    "folderTemplates"
                ]
            }
        },
        "/folders": {
            "get": {
                "permissions": [
                    "tenant.guest",
                    "tenant.user"
                ],
                "query": [
                    {
                        "name": "entity-type"
                    },
                    {
                        "name": "entity-id"
                    },
                    {
                        "name": "folder-code"
                    },
                    {
                        "name": "folder-id"
                    },
                    {
                        "name": "owner-email"
                    },
                    {
                        "name": "owner-role-id"
                    },
                    {
                        "name": "owner-role-code"
                    },
                    {
                        "name": "code"
                    },
                    {
                        "name": "name"
                    },
                    {
                        "name": "isPublic",
                        "type": "boolean"
                    },
                    {
                        "name": "isFavourite",
                        "type": "boolean"
                    },
                    {
                        "name": "sort",
                        "description": "name,timeStamp"
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "entity-type",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "entity-id",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "folder-code",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "folder-id",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "owner-email",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "owner-role-id",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "owner-role-code",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "code",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "name",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "isPublic",
                        "type": "boolean",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "isFavourite",
                        "type": "boolean",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sort",
                        "type": "string",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "x-tenant-code",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "application code"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/foldersPageRes"
                        }
                    }
                },
                "summary": "search",
                "description": "searches in folders",
                "operationId": "folders-search",
                "tags": [
                    "folders"
                ]
            },
            "post": {
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/foldersCreateReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/foldersRes"
                        }
                    }
                },
                "summary": "",
                "description": "",
                "operationId": "",
                "tags": [
                    "folders"
                ]
            }
        },
        "/folders/{id}": {
            "get": {
                "permissions": [
                    "tenant.guest",
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-tenant-code",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "application code"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/foldersRes"
                        }
                    }
                },
                "summary": "get",
                "description": "gets an item by id in folders",
                "operationId": "folders-get-by-id",
                "tags": [
                    "folders"
                ]
            },
            "put": {
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/foldersReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/foldersRes"
                        }
                    }
                },
                "summary": "update",
                "description": "updates an item in folders",
                "operationId": "folders-update",
                "tags": [
                    "folders"
                ]
            },
            "delete": {
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/foldersRes"
                        }
                    }
                },
                "summary": "remove",
                "description": "removes an item in folders",
                "operationId": "delete",
                "tags": [
                    "folders"
                ]
            }
        },
        "/tenants/{id}": {
            "get": {
                "permissions": [
                    "tenant.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/tenantsRes"
                        }
                    }
                },
                "summary": "get",
                "description": "gets an item by id in tenants",
                "operationId": "tenants-get-by-id",
                "tags": [
                    "tenants"
                ]
            },
            "put": {
                "permissions": [
                    "tenant.admin"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/tenantsReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/tenantsRes"
                        }
                    }
                },
                "summary": "update",
                "description": "updates an item in tenants",
                "operationId": "tenants-update",
                "tags": [
                    "tenants"
                ]
            }
        },
        "/users/{id}": {
            "get": {
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/usersRes"
                        }
                    }
                },
                "summary": "get",
                "description": "gets an item by id in users",
                "operationId": "users-get-by-id",
                "tags": [
                    "users"
                ]
            },
            "put": {
                "permissions": [
                    "tenant.user"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "type": "object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/usersReq"
                        }
                    },
                    {
                        "name": "x-role-key",
                        "in": "header",
                        "type": "string",
                        "required": true,
                        "description": "user role key"
                    }
                ],
                "responses": {
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/usersRes"
                        }
                    }
                },
                "summary": "update",
                "description": "updates an item in users",
                "operationId": "users-update",
                "tags": [
                    "users"
                ]
            }
        }
    },
    "definitions": {
        "entitiesReq": {
            "type": "object",
            "properties": {
                "entityId": {
                    "type": "string"
                },
                "entityType": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "pic": {
                    "type": "object",
                    "properties": {
                        "url": {
                            "type": "string"
                        },
                        "thumbnail": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "entitiesRes": {
            "type": "object",
            "properties": {
                "isSuccess": {
                    "type": "boolean",
                    "description": "true"
                },
                "error": {
                    "type": "string",
                    "description": "error details"
                },
                "message": {
                    "type": "string",
                    "description": "validation message"
                },
                "data": {
                    "type": "object",
                    "properties": {
                        "entityId": {
                            "type": "string"
                        },
                        "entityType": {
                            "type": "string"
                        },
                        "name": {
                            "type": "string"
                        },
                        "pic": {
                            "type": "object",
                            "properties": {
                                "url": {
                                    "type": "string"
                                },
                                "thumbnail": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "entitiesPageRes": {
            "type": "object",
            "properties": {
                "isSuccess": {
                    "type": "boolean",
                    "description": "true"
                },
                "error": {
                    "type": "string",
                    "description": "error details"
                },
                "message": {
                    "type": "string",
                    "description": "validation message"
                },
                "items": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "entityId": {
                                "type": "string"
                            },
                            "entityType": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            },
                            "pic": {
                                "type": "object",
                                "properties": {
                                    "url": {
                                        "type": "string"
                                    },
                                    "thumbnail": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "entityFilesReq": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "thumbnail": {
                    "type": "string"
                },
                "mimeTypes": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "isPublic": {
                    "type": "boolean"
                },
                "url": {
                    "type": "string"
                },
                "isVirtual": {
                    "type": "boolean"
                },
                "folder": {
                    "type": "string"
                },
                "entityType": {
                    "type": "string"
                },
                "tenant": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "string"
                        },
                        "code": {
                            "type": "string"
                        },
                        "name": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "entityFilesRes": {
            "type": "object",
            "properties": {
                "isSuccess": {
                    "type": "boolean",
                    "description": "true"
                },
                "error": {
                    "type": "string",
                    "description": "error details"
                },
                "message": {
                    "type": "string",
                    "description": "validation message"
                },
                "data": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "string"
                        },
                        "name": {
                            "type": "string"
                        },
                        "description": {
                            "type": "string"
                        },
                        "thumbnail": {
                            "type": "string"
                        },
                        "mimeTypes": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "isPublic": {
                            "type": "boolean"
                        },
                        "url": {
                            "type": "string"
                        },
                        "isVirtual": {
                            "type": "boolean"
                        },
                        "folder": {
                            "type": "string"
                        },
                        "entityType": {
                            "type": "string"
                        },
                        "tenant": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "entityFilesPageRes": {
            "type": "object",
            "properties": {
                "isSuccess": {
                    "type": "boolean",
                    "description": "true"
                },
                "error": {
                    "type": "string",
                    "description": "error details"
                },
                "message": {
                    "type": "string",
                    "description": "validation message"
                },
                "items": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            },
                            "description": {
                                "type": "string"
                            },
                            "thumbnail": {
                                "type": "string"
                            },
                            "mimeTypes": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "isPublic": {
                                "type": "boolean"
                            },
                            "url": {
                                "type": "string"
                            },
                            "isVirtual": {
                                "type": "boolean"
                            },
                            "folder": {
                                "type": "string"
                            },
                            "entityType": {
                                "type": "string"
                            },
                            "tenant": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "fileSummaryReq": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "code": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                },
                "thumbnail": {
                    "type": "string"
                },
                "mimeType": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "version": {
                    "type": "number"
                },
                "isTemplate": {
                    "type": "boolean"
                },
                "isVirtual": {
                    "type": "boolean"
                },
                "isPublic": {
                    "type": "boolean"
                }
            }
        },
        "fileSummaryRes": {
            "type": "object",
            "properties": {
                "isSuccess": {
                    "type": "boolean",
                    "description": "true"
                },
                "error": {
                    "type": "string",
                    "description": "error details"
                },
                "message": {
                    "type": "string",
                    "description": "validation message"
                },
                "data": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "string"
                        },
                        "code": {
                            "type": "string"
                        },
                        "name": {
                            "type": "string"
                        },
                        "url": {
                            "type": "string"
                        },
                        "thumbnail": {
                            "type": "string"
                        },
                        "mimeType": {
                            "type": "string"
                        },
                        "description": {
                            "type": "string"
                        },
                        "version": {
                            "type": "number"
                        },
                        "isTemplate": {
                            "type": "boolean"
                        },
                        "isVirtual": {
                            "type": "boolean"
                        },
                        "isPublic": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "fileSummaryPageRes": {
            "type": "object",
            "properties": {
                "isSuccess": {
                    "type": "boolean",
                    "description": "true"
                },
                "error": {
                    "type": "string",
                    "description": "error details"
                },
                "message": {
                    "type": "string",
                    "description": "validation message"
                },
                "items": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "code": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            },
                            "url": {
                                "type": "string"
                            },
                            "thumbnail": {
                                "type": "string"
                            },
                            "mimeType": {
                                "type": "string"
                            },
                            "description": {
                                "type": "string"
                            },
                            "version": {
                                "type": "number"
                            },
                            "isTemplate": {
                                "type": "boolean"
                            },
                            "isVirtual": {
                                "type": "boolean"
                            },
                            "isPublic": {
                                "type": "boolean"
                            }
                        }
                    }
                }
            }
        },
        "filesReq": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "code": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                },
                "thumbnail": {
                    "type": "string"
                },
                "mimeType": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "version": {
                    "type": "number"
                },
                "isTemplate": {
                    "type": "boolean"
                },
                "isVirtual": {
                    "type": "boolean"
                },
                "isPublic": {
                    "type": "boolean"
                },
                "isFavourite": {
                    "type": "boolean"
                },
                "folder": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "string"
                        },
                        "thumbnail": {
                            "type": "string"
                        },
                        "name": {
                            "type": "string"
                        },
                        "description": {
                            "type": "string"
                        },
                        "isPublic": {
                            "type": "boolean"
                        }
                    }
                },
                "owner": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "string"
                        },
                        "profile": {
                            "type": "object",
                            "properties": {
                                "firstName": {
                                    "type": "string"
                                },
                                "lastName": {
                                    "type": "string"
                                },
                                "pic": {
                                    "type": "object",
                                    "properties": {
                                        "url": {
                                            "type": "string"
                                        },
                                        "thumbnail": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "creator": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "string"
                        },
                        "profile": {
                            "type": "object",
                            "properties": {
                                "firstName": {
                                    "type": "string"
                                },
                                "lastName": {
                                    "type": "string"
                                },
                                "pic": {
                                    "type": "object",
                                    "properties": {
                                        "url": {
                                            "type": "string"
                                        },
                                        "thumbnail": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "organization": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "string"
                        },
                        "code": {
                            "type": "string"
                        },
                        "name": {
                            "type": "string"
                        }
                    }
                },
                "tenant": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "string"
                        },
                        "code": {
                            "type": "string"
                        },
                        "name": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "filesRes": {
            "type": "object",
            "properties": {
                "isSuccess": {
                    "type": "boolean",
                    "description": "true"
                },
                "error": {
                    "type": "string",
                    "description": "error details"
                },
                "message": {
                    "type": "string",
                    "description": "validation message"
                },
                "data": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "string"
                        },
                        "code": {
                            "type": "string"
                        },
                        "name": {
                            "type": "string"
                        },
                        "url": {
                            "type": "string"
                        },
                        "thumbnail": {
                            "type": "string"
                        },
                        "mimeType": {
                            "type": "string"
                        },
                        "description": {
                            "type": "string"
                        },
                        "version": {
                            "type": "number"
                        },
                        "isTemplate": {
                            "type": "boolean"
                        },
                        "isVirtual": {
                            "type": "boolean"
                        },
                        "isPublic": {
                            "type": "boolean"
                        },
                        "isFavourite": {
                            "type": "boolean"
                        },
                        "folder": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "thumbnail": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "isPublic": {
                                    "type": "boolean"
                                }
                            }
                        },
                        "owner": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "profile": {
                                    "type": "object",
                                    "properties": {
                                        "firstName": {
                                            "type": "string"
                                        },
                                        "lastName": {
                                            "type": "string"
                                        },
                                        "pic": {
                                            "type": "object",
                                            "properties": {
                                                "url": {
                                                    "type": "string"
                                                },
                                                "thumbnail": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "creator": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "profile": {
                                    "type": "object",
                                    "properties": {
                                        "firstName": {
                                            "type": "string"
                                        },
                                        "lastName": {
                                            "type": "string"
                                        },
                                        "pic": {
                                            "type": "object",
                                            "properties": {
                                                "url": {
                                                    "type": "string"
                                                },
                                                "thumbnail": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "organization": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                }
                            }
                        },
                        "tenant": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "filesPageRes": {
            "type": "object",
            "properties": {
                "isSuccess": {
                    "type": "boolean",
                    "description": "true"
                },
                "error": {
                    "type": "string",
                    "description": "error details"
                },
                "message": {
                    "type": "string",
                    "description": "validation message"
                },
                "items": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "code": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            },
                            "url": {
                                "type": "string"
                            },
                            "thumbnail": {
                                "type": "string"
                            },
                            "mimeType": {
                                "type": "string"
                            },
                            "description": {
                                "type": "string"
                            },
                            "version": {
                                "type": "number"
                            },
                            "isTemplate": {
                                "type": "boolean"
                            },
                            "isVirtual": {
                                "type": "boolean"
                            },
                            "isPublic": {
                                "type": "boolean"
                            },
                            "isFavourite": {
                                "type": "boolean"
                            },
                            "folder": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "thumbnail": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "isPublic": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "owner": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "profile": {
                                        "type": "object",
                                        "properties": {
                                            "firstName": {
                                                "type": "string"
                                            },
                                            "lastName": {
                                                "type": "string"
                                            },
                                            "pic": {
                                                "type": "object",
                                                "properties": {
                                                    "url": {
                                                        "type": "string"
                                                    },
                                                    "thumbnail": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "creator": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "profile": {
                                        "type": "object",
                                        "properties": {
                                            "firstName": {
                                                "type": "string"
                                            },
                                            "lastName": {
                                                "type": "string"
                                            },
                                            "pic": {
                                                "type": "object",
                                                "properties": {
                                                    "url": {
                                                        "type": "string"
                                                    },
                                                    "thumbnail": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "organization": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                }
                            },
                            "tenant": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "folderSummaryReq": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "thumbnail": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "isPublic": {
                    "type": "boolean"
                }
            }
        },
        "folderSummaryRes": {
            "type": "object",
            "properties": {
                "isSuccess": {
                    "type": "boolean",
                    "description": "true"
                },
                "error": {
                    "type": "string",
                    "description": "error details"
                },
                "message": {
                    "type": "string",
                    "description": "validation message"
                },
                "data": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "string"
                        },
                        "thumbnail": {
                            "type": "string"
                        },
                        "name": {
                            "type": "string"
                        },
                        "description": {
                            "type": "string"
                        },
                        "isPublic": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "folderSummaryPageRes": {
            "type": "object",
            "properties": {
                "isSuccess": {
                    "type": "boolean",
                    "description": "true"
                },
                "error": {
                    "type": "string",
                    "description": "error details"
                },
                "message": {
                    "type": "string",
                    "description": "validation message"
                },
                "items": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "thumbnail": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            },
                            "description": {
                                "type": "string"
                            },
                            "isPublic": {
                                "type": "boolean"
                            }
                        }
                    }
                }
            }
        },
        "foldersCreateReq": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "thumbnail": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "isPublic": {
                    "type": "boolean"
                },
                "parent": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "foldersCreateRes": {
            "type": "object",
            "properties": {
                "isSuccess": {
                    "type": "boolean",
                    "description": "true"
                },
                "error": {
                    "type": "string",
                    "description": "error details"
                },
                "message": {
                    "type": "string",
                    "description": "validation message"
                },
                "data": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string"
                        },
                        "thumbnail": {
                            "type": "string"
                        },
                        "description": {
                            "type": "string"
                        },
                        "isPublic": {
                            "type": "boolean"
                        },
                        "parent": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "foldersCreatePageRes": {
            "type": "object",
            "properties": {
                "isSuccess": {
                    "type": "boolean",
                    "description": "true"
                },
                "error": {
                    "type": "string",
                    "description": "error details"
                },
                "message": {
                    "type": "string",
                    "description": "validation message"
                },
                "items": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "name": {
                                "type": "string"
                            },
                            "thumbnail": {
                                "type": "string"
                            },
                            "description": {
                                "type": "string"
                            },
                            "isPublic": {
                                "type": "boolean"
                            },
                            "parent": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "foldersReq": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "thumbnail": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "isPublic": {
                    "type": "boolean"
                },
                "parent": {
                    "type": "object",
                    "properties": {
[...]
